<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" style="zoom:1.4;">
            <ion-icon color="tertiary"  (click)="loadPageSong()" name="arrow-back"></ion-icon>
        </ion-buttons>
        <ion-title color="tertiary">A propos/Mombamomba</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="tertiary">
    <ion-list style="margin: 10px">
        <ion-item>
            <div>
                <h4 style="margin-bottom: 30px; font-size: 20px;text-align: center">
                    <ion-text color="tertiary" text-center=""><i>Tononkira SKOTO (TILY)</i></ion-text>
                </h4>
                <h5 text-justify="">
                    <ion-text>
                        L'application <b style="color: #4c8dff">Tononkira SKOTO (TILY)</b>
                        est une application conçue et développée par
                        <b style="color: #4c8dff">Herinjaka R.</b> Responsable TILY Lille (France),
                        en collaboration avec l'équipe de <b style="color: #4c8dff">Tily Eto Madagasikara (TEM) </b> et l'équipe de  <b style="color: #4c8dff"> Tily France.</b>
                        <br><br>
                        Elle contient les paroles de chansons SKOTO.
                        <br><br>
                        Elle a pour but de réunir et de partager les paroles des chansons SKOTO.
                    </ion-text>
                </h5>
                <h5 text-justify="">
                    <ion-text text-justify>
                        Si vous avez des suggestions, des améliorations ou souhaitez ajouter de nouvelles paroles dans l'application,
                        N’hésitez pas à nous contacter via l'adresse mail ci-dessous.
                    </ion-text>
                </h5>

            </div>
        </ion-item>
        <ion-item class="proposed">
            <div>
                <h5 text-justify="">
                    <ion-text>
                        Ny "application" <b style="color: #4c8dff">Tononkira SKOTO (TILY)</b> dia asa novokarin'i
                        <b style="color: #4c8dff">Herinjaka R.</b> Mpiandraikitra Sampana Maitso TILY Lille (France),
                        izay miara miasa amin'ireo ekipan'ny <b style="color: #4c8dff">Tily Eto Madagasikara (TEM) </b> sy ny ekipan'ny<b style="color: #4c8dff"> Tily France.</b>
                        <br><br>
                        Natao izy mba afahana manangona, mitahiry ary mizara ireo tononkira SKOTO izay voatahiry an-tsoratra.
                    </ion-text>
                </h5>
                <h5 text-justify="">
                    <ion-text>
                        Raha misy ny fanitsiana, fanatsarana na ihany koa misy te hanampy tononkira vaovao dia aza
                        misalasala manoratra aminay amin'ny alalan'ny mailaka voalaza etsy ambany.
                    </ion-text>
                </h5>
                <h5 text-justify="">
                    <ion-text>
                        Mail: <a [href]="'mailto:herinjaka.rakotoarivony@gmail.com?Subject=Contact App skoto'">herinjaka.rakotoarivony@gmail.com</a>
                    </ion-text>
                </h5>
            </div>
        </ion-item>
    </ion-list>
</ion-content>
