<ion-header>
    <ion-toolbar>
        <ion-title slot="start" color="tertiary">
            Mombamomba
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="tertiary">
    <ion-list style="margin: 10px">
        <ion-item class="proposed">
            <div>
                <h4 style="margin-bottom: 30px; font-size: 20px">
                    <ion-text color="tertiary"><i>Tononkira skoto laharana faha 1.0.0</i></ion-text>
                </h4>
                <h5 text-justify="">
                    <ion-text>
                        Ity "application" ity dia mirakitra ireo tononkira skoto Malagasy izay voatahiry
                        an-tsoratra.
                    </ion-text>
                </h5>
                <h5 text-justify="">
                    <ion-text>
                        Raha misy ny fanitsiana, fanatsarana na ihany koa misy te hanampy tononkira vaovao dia aza
                        misalasala manoratra aminay amin'ny alalan'ny mailaka voalaza etsy ambany.
                    </ion-text>
                </h5>
            </div>
        </ion-item>
        <ion-item>
            <div>
                <h5 text-justify="">
                    <ion-text>
                        Cette application contient les paroles de chansons scouts Malagasy.
                    </ion-text>
                </h5>
                <h5 text-justify="">
                    <ion-text>
                        Si vous avez des suggestions, des améliorations ou vous voulez ajouter une nouvelle parole
                        dans l'application,
                        N'hesitez pas à nous contacter via l'adresse mail ci-dessous.
                    </ion-text>
                </h5>
                <h5 text-justify="">
                    <ion-text>
                        Mail: <a [href]="'mailto:herinjaka.rakotoarivony@gmail.com?Subject=Contact App skoto'">herinjaka.rakotoarivony@gmail.com</a>
                    </ion-text>
                </h5>
            </div>
        </ion-item>
    </ion-list>
</ion-content>
