.app-loader {
    position: fixed;
    top: 50%;
    left: calc(50% - 20px);
    font-size: 30px;
    z-index: 9999;
}
.app-loader-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .2);
    z-index: 9998;
}