<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="song">
      <ion-icon name="musical-notes" color="tertiary"></ion-icon>
      <ion-label color="tertiary">Hira sy sareba</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="search">
      <ion-icon name="search" color="tertiary"></ion-icon>
      <ion-label color="tertiary">Mitady hira</ion-label>
    </ion-tab-button>
  </ion-tab-bar>


  <!--<ion-tab-button tab="game">
    <ion-icon name="logo-xbox" color="tertiary"></ion-icon>
    <ion-label color="tertiary">Lalao sy teknika</ion-label>
  </ion-tab-button>-->

</ion-tabs>
