<ion-header>
    <ion-toolbar color="">
        <ion-title color="tertiary">
            <ion-icon name="logo-playstation" style="zoom:1.3;" color="tertiary"></ion-icon>
            Lalao sy teknika
        </ion-title>
        <ion-buttons slot="primary">
            <ion-button color="tertiary" (click)="presentPopover($event)">
                <ion-icon style="zoom:1.3;"  name="md-list"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content color="tertiary"></ion-content>
