<ion-header>
    <ion-toolbar>
        <ion-title slot="start" color="tertiary">
            <ion-icon name="musical-notes" color="tertiary" style="zoom:1.3;"></ion-icon>
            Hira ankafizina
        </ion-title>
        <ion-buttons slot="end">
            <ion-button color="tertiary" (click)="presentPopover($event)">
                <ion-icon style="zoom:1.3;" name="md-list" style="zoom:1.3;"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content color="tertiary">
    <ion-list style="margin: 10px">
        <div *ngIf="aSongsStorage.length != 0">
            <ion-item *ngFor="let song of aSongsStorage" (click)="loadPageDetailSong(song.song_number)">
                <ion-label color="tertiary">{{song.song_number}} - {{song.song_tittle}}</ion-label>
            </ion-item>
        </div>
        <div *ngIf="aSongsStorage.length == 0" style="margin: 10px">
            <ion-label color="tertiary">Tsy misy ny lisitra !!!!</ion-label>
        </div>
    </ion-list>
</ion-content>

<ion-footer>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="song" (click)="getPage('song')" >
            <ion-icon name="musical-notes" color="tertiary"></ion-icon>
            <ion-label color="tertiary">Hira sy sareba</ion-label>
        </ion-tab-button>

        <!--<ion-tab-button tab="game" (click)="getPage('game')">
          <ion-icon name="logo-xbox" color="tertiary"></ion-icon>
          <ion-label color="tertiary">Lalao sy teknika</ion-label>
        </ion-tab-button>-->

        <ion-tab-button tab="search" (click)="getPage('search')">
            <ion-icon name="search" color="tertiary"></ion-icon>
            <ion-label color="tertiary">Mitady hira</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-footer>
