<ion-content color="tertiary" text-center style="margin-top: 15px">
    <section class = "home-container">
        <div class="row icon-row">
            <div class="col">
                <h1 class="text-center">TONONKIRA SKOTO</h1>
                <h4 class ="text-white text-center">Laharana 1.0.0</h4>
            </div>
        </div>
        <div class="row row-center" >
            <div class="col text-center" >
                <img src="../assets/insigne_tily.png" style="width: 25%; min-width: 250px">
                <div class="col text-under">
                    <ion-spinner name="dots" style="zoom:2;" color="light"></ion-spinner>
                    <br/> Miandrasa kely tompoko
                    <h6 class ="text-white text-center">By (Herinjaka.R.)</h6>
                </div>
            </div>
        </div>
    </section>
</ion-content>
