<ion-content color="tertiary" class="ion-text-center" style="margin-top: 15px">
    <section class = "home-container">
        <div class="row icon-row">
            <div class="col">
                <h1 class="text-center">TONONKIRA SKOTO (TILY)</h1>
                <h4 class ="text-white text-center">Tily Eto Madagasikara</h4>
            </div>
        </div>
        <div class="row row-center" >
            <div class="col text-center" >
                <img src="../assets/insigne_tily.png" style="width: 25%; min-width: 250px">
                <div class="col text-under">
                    <br/> Miandrasa kely ise
                    <h6 class ="text-white text-center">By (Herinjaka.R.)</h6>
                </div>
            </div>
        </div>
    </section>
</ion-content>
